tiramisu:
    tiramisu_path: Path to tiramisu root directory 
    workspace: Path to a folder to save binary files of tiramisu
    experiment_dir: Path to a folder to save results of trainings
    logs_dir: "Path to  logs directory

env_vars:
    CXX: Path to CXX compiler
    TIRAMISU_ROOT: Path to tiramisu root directory 
    CONDA_ENV: Path to conda environment
    LD_LIBRARY_PATH: Path to LD_LIBRARY_PATH, where compiled libraries are stored
    # LD_LIBRARY_PATH: "${CONDA_ENV}/lib:${TIRAMISU_ROOT}/3rdParty/Halide/build/src:${TIRAMISU_ROOT}/3rdParty/llvm/build/lib:${TIRAMISU_ROOT}/3rdParty/isl/build/lib:"

dataset:
    dataset_format: PICKLE
    cpps_path: dataset/cpps.pkl
    dataset_path: dataset/schedules.pkl
    pretrained_model_path: Path to the pretrained model
    save_path: dataset/
    models_save_path: /path/to/experiment_dir/models/
    results_save_path: /path/to/experiment_dir/results/
    evaluation_save_path: /path/to/experiment_dir/evaluation/
    shuffle: True
    seed: 133
    saving_frequency: 1000
    is_benchmark: False
    # benchmark_cpp_files: /scratch/ia2280/GNN_RL_full_dataset//GNN_RL_Pretrain/dataset/old_benchmark_cpps.pkl
    # benchmark_dataset_path: /scratch/ia2280/GNN_RL_full_dataset//GNN_RL_Pretrain/dataset/old_benchmark.pkl
experiment:
    legality_speedup: 1.0
    beam_search_order: True
    max_time_in_minutes: 1
    max_slowdown: 80
    DYNAMIC_RUNS: 0
    MAX_RUNS: 5
    NB_EXEC: 3

pretrain:
    embed_access_matrices: True
    embedding_type: concat_final_hidden_cell_state # final_hidden_state, final_cell_state, concat_final_hidden_cell_state, mean_pooling_output, max_pooling_output, flattened_output

hyperparameters:
    num_updates: 10000
    batch_size: 512
    mini_batch_size: 64
    num_epochs: 4
    clip_epsilon: 0.3
    gamma: 0.99
    lambdaa: 0.95
    value_coeff: 2
    entropy_coeff_start: 0.1
    entropy_coeff_finish: 0
    max_grad_norm: 10
    lr: 0.0001
    start_lr: 0.0001
    final_lr: 0.0001
    weight_decay: 0.0001

# test:
    # skip_execute_schedules : False


