tiramisu:
    tiramisu_path: "/scratch/ia2280/new-tiramisu/tiramisu" # path to the tiramisu folder
    workspace: "/scratch/ia2280/GNN_RL_full_dataset/GNN_RL_Pretrain/experiment_dir/workspace_rollouts/" # a folder to save binary files of tiramisu
    experiment_dir: "/scratch/ia2280/GNN_RL_full_dataset/GNN_RL_Pretrain/experiment_dir/" # a folder to save the experiment results
    logs_dir: "/scratch/ia2280/GNN_RL_full_dataset/GNN_RL_Pretrain/logs/" # a folder to save the logs

env_vars: 
    CXX: "/home/ia2280/.conda/envs/new-tiramisu/bin/g++" # path to the g++
    TIRAMISU_ROOT: "/scratch/ia2280/new-tiramisu/tiramisu" # path to the tiramisu folder
    CONDA_ENV: "/home/ia2280/.conda/envs/new-tiramisu" # path to the conda environment
    LD_LIBRARY_PATH: "LD_LIBRARY_PATH=/home/ia2280/.conda/envs/new-tiramisu/lib:${TIRAMISU_ROOT}/3rdParty/Halide/install/lib64:${TIRAMISU_ROOT}/3rdParty/llvm/build/lib:${TIRAMISU_ROOT}/3rdParty/isl/build/lib:$LD_LIBRARY_PATH" # paths where compiled libraries are stored
    # LD_LIBRARY_PATH: "${CONDA_ENV}/lib:${TIRAMISU_ROOT}/3rdParty/Halide/build/src:${TIRAMISU_ROOT}/3rdParty/llvm/build/lib:${TIRAMISU_ROOT}/3rdParty/isl/build/lib:"

dataset:
    dataset_format: PICKLE
    cpps_path: /scratch/ia2280/GNN_RL_full_dataset/GNN_RL_Pretrain/dataset/cpps_12.5k.pkl # path to the cpps file
    dataset_path: /scratch/ia2280/GNN_RL_full_dataset/GNN_RL_Pretrain/dataset/schedules_full_v2_100k.pkl # path to the dataset/schedules file
    pretrained_model_path: /scratch/ia2280/GNN_RL_full_dataset/GNN_RL_Pretrain/pretrained_model_12.5k_L2_Regularization_fixed_duplicates.pt # path to the pretrained model
    save_path: /scratch/ia2280/GNN_RL_full_dataset/GNN_RL_Pretrain/experiment_dir/save/  # a folder to save the updated dataset
    models_save_path: /scratch/ia2280/GNN_RL_full_dataset/GNN_RL_Pretrain/experiment_dir/models/ # a folder to save the models
    results_save_path: /scratch/ia2280/GNN_RL_full_dataset/GNN_RL_Pretrain/experiment_dir/results/ # a folder to save the results
    evaluation_save_path: /scratch/ia2280/GNN_RL_full_dataset//GNN_RL_Pretrain/experiment_dir/evaluation/ 
    shuffle: True
    seed: 133
    saving_frequency: 1000
    is_benchmark: False
    # benchmark_cpp_files: /scratch/ia2280/GNN_RL_full_dataset//GNN_RL_Pretrain/dataset/old_benchmark_cpps.pkl
    # benchmark_dataset_path: /scratch/ia2280/GNN_RL_full_dataset//GNN_RL_Pretrain/dataset/old_benchmark.pkl
experiment:
    legality_speedup: 1.0
    beam_search_order: True
    max_time_in_minutes: 1
    max_slowdown: 80
    DYNAMIC_RUNS: 0
    MAX_RUNS: 5
    NB_EXEC: 3

# Parameters for the GNN pretraining
pretrain:
    embed_access_matrices: True
    embedding_type: concat_final_hidden_cell_state # final_hidden_state, final_cell_state, concat_final_hidden_cell_state, mean_pooling_output, max_pooling_output, flattened_output

# hyperparameters for the RL agent training
hyperparameters:
    num_updates: 15000
    batch_size: 512
    mini_batch_size: 64
    num_epochs: 4
    clip_epsilon: 0.3
    gamma: 0.99
    lambdaa: 0.95
    value_coeff: 2
    entropy_coeff_start: 0.1
    entropy_coeff_finish: 0
    max_grad_norm: 10
    lr: 0.0001
    start_lr: 0.0001
    final_lr: 0.0001
    weight_decay: 0.0001

# test:
    # skip_execute_schedules : False

